{% extends 'base.html' %}

{% block title %} DL | {{username}} {% endblock %}

{% block content %}
{% if user_logged %}
<header class="d-flex justify-content-around py-3" style="user-select: auto;">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a href="{% url 'dashboard:main' %}" class="nav-link">Головна</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'dashboard:info' %}" class="nav-link">Інформація</a>
        </li>
    </ul>
    <div class="d-felx flex-row">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'account:logout' %}" class="nav-link px-2 text-black">Вийти</a>
            </li>
            
        </ul>
    </div>
</header>
{% else %}
<header class="d-flex justify-content-around py-3" style="user-select: auto;">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a href="{% url 'dashboard:main' %}" class="nav-link">Головна</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'dashboard:info' %}" class="nav-link">Інформація</a>
        </li>
    </ul>
    <div class="d-felx flex-row">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'account:login' %}" class="nav-link px-2 text-black">Увійти</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'account:reg' %}" class="nav-link px-2 text-black">Зареєструватися</a>
            </li>
        </ul>
    </div>
</header>

<div class="container h-100 w-50">
    <!-- <div class="col align-self-center"> -->
        <div class="modal modal-alert position-static d-block py-5  ">
            <div class="align-middle modal-content rounded-4 shadow">
                <div class="modal-body p-4 text-center">
                    <h5 class="mb-0">Ви не увійшли до системи!</h5>
                    <p class="mb-0">Будласка увійдіть до системи, або зареєструйтеся, якщо ще не маєте акаунту.</p>
                </div>
                <div class="modal-footer flex-nowrap p-0 justify-content-around">
                    <a href="{% url 'account:login' %}" class="text-decoration-none text-success">Увійти</a>
                    <a href="{% url 'account:reg' %}" class="text-decoration-none text-success">Зареєструватися</a>
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>

{% endif %}


{% endblock %}
