{% extends 'base.html' %}

{% block title %} Головна {% endblock %}

{% block imports %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous"/>  
{% endblock %}

{% block content %}

{% if user_logged %}
<header class="row row-cols-auto justify-content-around py-3 m-3" style="user-select: auto;">
    <div class="col-sm-4 d-flex justify-content-start order-sm-1">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'dashboard:main' %}" class="nav-link active">Головна</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'dashboard:info' %}" class="nav-link">Довідник</a>
            </li>
        </ul>
    </div>
    <h3 class="order-sm-2 order-first">Diahelp</h3>
    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-start order-sm-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'account:account' %}?username={{username}}" class="nav-link">Профіль</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'account:logout' %}" class="nav-link">Вийти</a>
            </li>
        </ul>
    </div>
</header>

<div class="d-flex flex-column m-3">
    <h3>Панель керування</h3>
    <hr>
    <div class="container">
        <div class="row row-cols-auto" id="sugar_elements">
            <div class="col-sm-4">
                <div class="card" id="add_sugar">
                    <div class="card-body">
                        <h5 class="card-title mb-1">Зберегти показник</h5>
                        <h6 class="card-subtitle mb-3">Введіть показник рівня цукру в крові, в одиницях <em>ммоль/л</em></h6>
                        <form action="{% url 'dashboard:add' %}" class="" method="post">
                            {% csrf_token %}

                            <div class="form-group">
                                <label class="form-label">Показник</label>
                                <input type="number" min="1" max="30" step="0.01" name="index" id="" class="form-control mb-1">
                            </div>
                            <input type="submit" value="Зберегти" class="btn btn-success">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Графік показників цукру</h5>
                        <div class="chart" style="">
                            <canvas id="chart" width="350px" height="350px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" id="sugar_list">
                    <div class="position-center text-center"><h5 class="m-3">Показники</h5></div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush text-center overflow-auto" style="height: 50vh;">
                            {% for index in index_list %}
                            <li class="list-group-item">{{ index }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const ctx = document.getElementById('chart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for time in chart_data_time %}'{{time}}',{% endfor %}],
            datasets: [{
                label: 'Показники цукру',
                data: [{% for index in chart_data_indexes %}'{{index}}',{% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% else %}
<header class="row row-cols-auto justify-content-around py-3 m-3" style="user-select: auto;">
    <div class="col-sm-4 d-flex justify-content-start order-sm-1">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'dashboard:main' %}" class="nav-link active">Головна</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'dashboard:info' %}" class="nav-link">Довідник</a>
            </li>
        </ul>
    </div>
    <h3 class="order-sm-2 order-first">Diahelp</h3>
    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-start order-sm-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'account:login' %}" class="nav-link">Увійти</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'account:reg' %}" class="nav-link">Зареєструватися</a>
            </li>
        </ul>
    </div>
</header>

<div class="container">
    <div class="row row-cols-sm-3 justify-content-between">

        <div class="col-sm-3 order-sm-last">
            <h3>Вітаю!</h3>
            <h5>До ваших послуг, сайт для допомоги людям хворим на цукровий діабет.</h5>
            <p class="lead"><strong>Diahelp</strong> допомагає зберігати та графічно відображувати показники цукру.</p>
            <hr>
            <p class="lead">Щоб почати користуватися сайтом стовріть акаунт або увійдіть до уже існуючого</p>
        </div>
        <div class="col-sm-4 order-last order-sm-first">
            <div class="card" id="sugar_list">
                <div class="position-center text-center"><h5 class="m-3">Показники</h5></div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush text-center overflow-auto" style="height: 50vh;">
                            <li class="list-group-item">7:05 - 5.3</li>
                            <li class="list-group-item">10:20 - 6.2</li>
                            <li class="list-group-item">13:00 - 6.5</li>
                            <li class="list-group-item">15:20 - 6.3</li>
                            <li class="list-group-item">18:00 - 5.9</li>
                            <li class="list-group-item">21:00 - 5.5</li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Простий графічний інтерфейс</h5>
                    <div class="chart">
                        <canvas id="chart" width="350px" height="350px"></canvas>
                        <script>
                            const ctx = document.getElementById('chart').getContext('2d');
                            const myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: ['7:05', '10:20', '13:00', '15:20', '18:00', '21:00'],
                                    datasets: [{
                                        label: 'Показники цукру',
                                        data: ['5.3', '6.2', '6.5', '6.3', '5.9', '5.5'],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endif %}
{% endblock %}