{% extends 'base.html' %}

{% block title %}  {% endblock %}

{% block content %}
{% if user_logged %}
<header class="row row-cols-auto justify-content-around py-3 m-3" style="user-select: auto;">
    <div class="col-sm-4 d-flex justify-content-start">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'dashboard:main' %}" class="nav-link">Головна</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'dashboard:info' %}" class="nav-link active">Довідник</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-start">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'account:account' %}?username={{username}}" class="nav-link">Профіль</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'account:logout' %}" class="nav-link">Вийти</a>
            </li>
        </ul>
    </div>
</header>
{% else %}
<header class="row row-cols-auto justify-content-around py-3 m-3" style="user-select: auto;">
    <div class="col-sm-4 d-flex justify-content-start">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'dashboard:main' %}" class="nav-link">Головна</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'dashboard:info' %}" class="nav-link active">Довідник</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-start">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'account:login' %}" class="nav-link">Увійти</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'account:reg' %}" class="nav-link">Зареєструватися</a>
            </li>
        </ul>
    </div>
</header>
{% endif %}
<main class="container">
    <table class="table table-primary table-striped">
        <thead>
            <tr>
              <th scope="col">Назва продукту</th>
              <th scope="col">Кількість на 1 ХО</th>
              <th scope="col">Вага, об'єм на 1 ХО</th>
            </tr>
          </thead>
          <tbody>
            {% for food, data in food_list.items %}
            <tr>
            <th scope="row">{{food}}</th>
            <td>{{data.0}}</td>
            <td>{{data.1}}</td>
            </tr>
            {% endfor %}
          </tbody>
    </table>
</main>

{% endblock %}