{% extends 'base.html' %}

{% block title %}Реєстрація{% endblock %}

{% block content %}
{% if form_valid %}
<header class="row row-cols-auto justify-content-around py-3 m-3" style="user-select: auto;">
    <div class="col-sm-4 d-flex justify-content-start order-sm-1">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'dashboard:main' %}" class="nav-link">Головна</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'dashboard:info' %}" class="nav-link">Довідник</a>
            </li>
        </ul>
    </div>
    <h3 class="order-sm-2 order-first">Diahelp</h3>
    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-start order-sm-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'account:login' %}" class="nav-link">Увійти</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'account:reg' %}" class="nav-link active">Зареєструватися</a>
            </li>
        </ul>
    </div>
</header>

<main class="flex justify-content-center text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-5 col">
                <form action="" method="POST">
                    {% csrf_token %}
                    <p class="h3 mb-3 fw-normal">Реєстрація</p>
                    <div class="form-floating mb-3" style="user-select: auto;">
                        <input type="text" name="username" id="usernameInput" class="form-control" placeholder="Ім'я користувача" maxlength="150" required>
                        <label for="usernameInput" style="user-select: auto;">Ім'я користувача</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password1" id="passwordInput1" class="form-control" placeholder="Пароль" required>
                        <label for="usernameInput1" style="user-select: auto;">Пароль</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password2" id="passwordInput2" class="form-control" placeholder="Підтвердіть пароль" required>
                        <label for="usernameInput2" style="user-select: auto;">Підтвердіть пароль</label>
                    </div>
            
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Зареєструватися</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% elif not form_valid %}
<header class="row row-cols-auto justify-content-around py-3 m-3" style="user-select: auto;">
    <div class="col-sm-4 d-flex justify-content-start order-sm-1">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'dashboard:main' %}" class="nav-link">Головна</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'dashboard:info' %}" class="nav-link">Довідник</a>
            </li>
        </ul>
    </div>
    <h3 class="order-sm-2 order-first">Diahelp</h3>
    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-start order-sm-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'account:login' %}" class="nav-link">Увійти</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'account:reg' %}" class="nav-link active">Зареєструватися</a>
            </li>
        </ul>
    </div>
</header>
<main class="flex justify-content-center text-center">
    <div class="container">
        <div class="alert alert-danger">
            <strong>Помилка!</strong> Неправильний логін або пароль!
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-5 col">
                <form action="" method="POST">
                    {% csrf_token %}
                    <p class="h3 mb-3 fw-normal">Реєстрація</p>
                    <div class="form-floating mb-3" style="user-select: auto;">
                        <input type="text" name="username" id="usernameInput" class="form-control" placeholder="Ім'я користувача" maxlength="150" required>
                        <label for="usernameInput" style="user-select: auto;">Ім'я користувача</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password1" id="passwordInput1" class="form-control" placeholder="Пароль" required>
                        <label for="usernameInput1" style="user-select: auto;">Пароль</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password2" id="passwordInput2" class="form-control" placeholder="Підтвердіть пароль" required>
                        <label for="usernameInput2" style="user-select: auto;">Підтвердіть пароль</label>
                    </div>
            
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Зареєструватися</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endif %}
{% endblock %}
